//=============================================================================================================
// Brand Fonts
//=============================================================================================================


@font-face {
	font-family: 'Futura PT';
    src: url('/fonts/FuturaPT-Light.eot');
	src: url('/fonts/FuturaPT-Light.woff2') format('woff2'),
		 url('/fonts/FuturaPT-Light.woff') format('woff'),
         url('/fonts/FuturaPT-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
    src: url('/fonts/FuturaPT-Book.eot');
	src: url('/fonts/FuturaPT-Book.woff2') format('woff2'),
         url('/fonts/FuturaPT-Book.woff') format('woff'),
         url('/fonts/FuturaPT-Book.ttf') format('truetype'),
         url('/fonts/FuturaPT-Book.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
    src: url('/fonts/FuturaPT-Medium.eot');
	src: url('/fonts/FuturaPT-Medium.woff2') format('woff2'),
         url('/fonts/FuturaPT-Medium.woff') format('woff'),
         url('/fonts/FuturaPT-Medium.ttf') format('truetype'),
         url('/fonts/FuturaPT-Medium.svg') format('svg');	
	font-weight: 500;
	font-style: normal;
}
