.page-template-coming-soon {
  height: 100vh;

  .bg-topo {
    bottom: -13%;
    
    @include breakpoint(md){
      bottom: 0;
    }
  }

  .site-logo {
  &.mobile {
    display: none;
  }
  }
  
  .animation-wrap{
    display: none; 
    
    &.coming-soon {
      display: block;
      
      height: 500px;
      width: 500px;
      video {
        position: static;
        width: 100%;
        bottom: 30%;
      }
    }
  }
   .header {
      display: none;
    }

  .coming-soon {
    width: 100%;
    height: 100vh;

    .wrapper {
      height: 100%;
      width: 100%;
      .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
      }
      .title {
        color: $color__text-black;
      }
    }
  }
}