


.animation-wrap {
  width: 50%;
  height: 100%;

  video {
    width: 50vw;
    position: relative;
    bottom: 10%;

    @include breakpoint(lg){
      height: 100%;
    }
  }
}

.slide-in {
  width: 50vw;
  height: 100vh;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -50%;
  opacity: 1;

&.active {
  visibility: visible;
  right: 0;
  transition-duration: 1s;  
}

  &.black {
    background: $color__backgroud-black;
  }
}
