body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	overflow: hidden;
	width: 100%;
	height: 100vh;


section {
	padding-top: 60px;
}

.site {
	@include breakpoint(sm) {
		flex-direction: column;
	}
}

}
